In [1]:
#### You code here

#Importing required modules

%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import pandas as pd
from datetime import date

In [6]:
df_birth = pd.read_csv("https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/births.csv")

quartiles = np.percentile(df_birth['births'], [25, 50, 75])
mu, sig = quartiles[1], 0.74 * (quartiles[2] - quartiles[0])
df_birth = df_birth.query('(births > @mu - 5 * @sig) & (births < @mu + 5 * @sig)')
df_birth['date'] = pd.to_datetime(df_birth[['year', 'month', 'day']])

In [9]:
df_birth_freqdf_birth.groupby('date').mean()['births'].reset_index().rename(columns={'births':'avg_birth_rate'})

           date  avg_birth_rate
0    1969-01-01          4243.0
1    1969-01-02          4501.0
2    1969-01-03          4771.0
3    1969-01-04          4480.0
4    1969-01-05          4195.0
...         ...             ...
7300 1988-12-27          5764.0
7301 1988-12-28          5923.5
7302 1988-12-29          5852.0
7303 1988-12-30          5918.5
7304 1988-12-31          4566.5

[7305 rows x 2 columns]